<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home </title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">  

    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    </head> 

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
              <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a  class="site_title"><i class="fa fa-paw"></i> <span>Welcome!</span></a>
                      </div>
                    <br>
                    <br>

                    <div class="profile clearfix">
                        <div class="profile_info">
                           
                            <span style="font-size: medium; color: white;">Logged In as: User name</span> 

                        </div>
                    </div>                    

                  <div class="clearfix"></div>

                  <br>

                  <div id="sidebar-menu" class="main_menu_side hidden-print main menu">
                      <div class="menu_section">
                          <h3>General</h3>
                          <ul class="nav side-menu">
                              <li><a><i class="fa fa-home"></i>Tasks <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/ClericalAssesment">Clerical Assessment</a></li>
                                    <li><a href="/ApprovalPage">Approval or Disapproval (CA)</a></li>
                                    <li><a href="/LocationalClearance">Locational Clearance</a></li>
                                    <li><a href="/CommunityTax">Community Tax</a></li>
                                </ul>
                              </li>
                              <li><a><i class="fa fa-desktop"></i>Create <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/CreateNewService">Create New Service</a></li>
                                    <li><a href="/RegistrationBarangay">Registration Form (Barangay Officials and Staff)</a></li>
                                    
                                </ul>
                              </li> 
                            
                          </ul>
                      </div>
                  </div> 
                </div>


             </div> 

             <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a> 
                            
                            
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="" style="background-color: #A9A9A9	;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                                    
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <br>
                                    
                                    
                                    <button onclick="signOut()" id="signOut" class="btn btn-primary">Sign Out</button>
                                </ul>
                            </li>
          
                            <li role="presentation" class="dropdown" style="background-color: #A9A9A9;">
                                <a href="javascript:;" id="notifnum"class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    
                                </a>
                                <ul id="try" class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1" style="height : 500px; overflow : hidden; overflow-y : scroll;">
                                    
                                  <li><button id="btnsubmit3" name="btnsubmit3" class="btn btn-default btn-xs">Set All Notifications to Read</button></li>
                                </ul>
                                
                                    
                                
                            </li>
          
                        </ul>

                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-15 col-xs-15">
                    <div class="x_panel" style="border-radius: 8px;;">
                        <div class="x_title" style="font-style: italic;">
                            <h2>TITLE</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 col-sm-15 col-xs-15">
                            
                            <table class="table table-bordered">
                                <thead>
                                    
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
        
        <!-- jQuery -->
    <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="assets/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="assets/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="assets/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="assets/vendors/Flot/jquery.flot.js"></script>
    <script src="assets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="assets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="assets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="assets/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="assets/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="assets/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="assets/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="assets/vendors/moment/min/moment.min.js"></script>
    <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="assets/build/js/custom.min.js"></script> 

    <script src="Dashboard.js"></script>
</body>

</html>