<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta gttp-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <title>PWD Application Form</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

        .alert.success {
            background-color: #4CAF50;
        }

        .alert.info {
            background-color: #2196F3;
        }

        .alert.warning {
            background-color: #ff9800;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }

    </style>

</head>

<body>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="background-color: #543846; border-color: #543846 border-radius: 8px;">
                <div class="x_content">
                    <form id="pwd-form" data-parsley-validate class="form-horizontal form-label-left">
                        <h1 style="color: white;">Appplication for Person With Disability Form</h1>
                        <br>
                        <br>
                        


                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="fname">First Name
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="fname" name="fname" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div> 

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="lname">Last Name
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="lname" name="lname" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="mname">Middle Name
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="mname" name="mname" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>



                        

                        <div class="form-group">
                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12"> Type of Disability (Please Select Only 1):</label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="distype" name="distype" size="5">


                                    <option value="Psychosocial Disability">Psychosocial Disability</option>
                                    <option value="Mental Disability">Mental Disability</option>
                                    <option value="Hearing Disability">Hearing Disability</option>
                                    <option value="Chronic Illness">Chronic Illness</option>
                                    <option value="Visual Disability">Visual Disability</option>
                                    <option value="Speech Impairment">Speech Impairment</option>
                                    <option value="Learning Disability">Learning Disability</option>
                                    <option value="Orthopedic Disability">Orthopedic Disability</option>
                                    <option value="Multiple Disabilities">Multiple Disabilities</option>



                                </select>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="address">Address
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="address" name="address" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="tno">Telephone No.
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="tno" name="tno" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="mno">Mobile No.
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="mno" name="mno" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="email">E-mail Address:
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="email" name="email" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="bdate">Date of Birth
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="date" id="bdate" name="bdate" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12">Sex </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="sex" name="sex" size="1">


                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>




                                </select>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="btype">Blood Type
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="btype" name="btype" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12">Civil Status </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="cstatus" name="cstatus" size="5">


                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Widow/er">Widow/er</option>
                                    <option value="Separated">Separated</option>
                                    <option value="Co-Habilitation">Co-Habilitation</option>




                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12">Educational Attainment</label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="eattain" name="eattain" size="5">


                                    <option value="Elementary Level">Elementary Level</option>
                                    <option value="Elementary Graduate">Elementary Graduate</option>
                                    <option value="High School Level">High School Level</option>
                                    <option value="High School Graduate">High School Graduate</option>
                                    <option value="College Level">College Level</option>
                                    <option value="College Graduate">College Graduate</option>
                                    <option value="Post Graduate">Post Graduate</option>
                                    <option value="Vocational">Vocational</option>
                                    <option value="SPED">SPED</option>
                                    <option value="None">None</option>



                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12">Employment Status</label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="estatus" name="estatus" size="5">


                                    <option value="Employed">Employed</option>
                                    <option value="Unemployed">Unemployed</option>
                                    <option value="Retired">Retired</option>
                                    <option value="Resigned">Resigned</option>
                                    <option value="Displaced Worker">Displaced Worker</option>
                                    <option value="Returning OFW">Returning OFW</option>



                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12">Nature of Employer</label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="enature" name="enature" size="1">


                                    <option value="Government">Government</option>
                                    <option value="Private">Private</option>



                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12">Type of Employment</label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="etype" name="etype" size="5">


                                    <option value="Permanent">Permanent</option>
                                    <option value="Contractual">Contractual</option>
                                    <option value="Self-Employed">Self-Employed</option>
                                    <option value="Seasonal">Seasonal</option>



                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12">Type of Skill</label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="typeskill" name="typeskill" size="5">


                                    <option value="Officials of Govermnet and SPecila Interest Organizations, Corporate Executives, Managers, Managing Proprietors and Supervisors">Officials of Govermnet and SPecila Interest Organizations, Corporate Executives, Managers, Managing Proprietors and Supervisors</option>
                                    <option value="Professionals">Professionals</option>
                                    <option value="Technicians and Associate PProfessionals">Technicians and Associate PProfessionals</option>
                                    <option value="Clerks">Clerks</option>
                                    <option value="Service Workers and Shop and Market Sales Workers">Service Workers and Shop and Market Sales Workers</option>
                                    <option value="Farmers, Forestry Workers, and Fishermen">Farmers, Forestry Workers, and Fishermen</option>
                                    <option value="Trades and Related Works">Trades and Related Works</option>
                                    <option value="Plant and Machine Operators and Assemblers">Plant and Machine Operators and Assemblers</option>
                                    <option value="Laborers">Laborers</option>
                                    <option value="Unskilled Workers">Unskilled Workers</option>
                                    <option value="Special Occupation">Special Occupation</option>



                                </select>
                            </div>
                        </div>



                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="sssno">S.S.S. No.
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="sssno" name="sssno" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="gsisno">GSIS No.
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="gsisno" name="gsisno" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="phealthno">Philhealth No.
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="phealthno" name="phealthno" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #dddddd;" class="control-label col-md-3 col-sm-3 col-xs-12">Philhealth Type</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="phealthtype" name="phealthtype" size="1">


                                    <option value="Philhealth Member">Philhealth Member</option>
                                    <option value="Philhealth Member Dependant">Philhealth Member Dependant</option>




                                </select>
                            </div>
                        </div>
                        <br>
                        <h2 style="color: white; text-align: center; font-size: x-large;" >Organizational Information</h2>
                        <br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="orgaff">Organization Affiliated
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="orgaff" name="orgaff" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="cperson">Contact Person
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="cperson" name="cperson" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="offaddress">Office Address
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="offaddress" name="offaddress" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="orgtelno">Tel No.
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required type="text" id="orgtelno" name="orgtelno" class="form-control" placeholder="">
                                </div>

                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="ol-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                    <button type="submit" class="btn btn-rimary" style="background-color: #2196F3; color: white;">Submit</button>
                                    <button onclick="goBack()" class="btn btn-rimary" style="background-color: #2196F3; color: white;">Go Back</button>

                                </div>
                            </div>

                        </div>


                    </form>
                </div>

            </div>
        </div>




    </div>


    <script>
        function goBack() {
            window.history.back();
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
    <!-- F I R E B A S E   C O N N E C T I O N -->

    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    <script src="PWD.js"></script>
</body>

</html>
