<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta gttp-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css"> 

    <title>Barangay Officials Registration Form</title> 

     <!-- Bootstrap -->
     <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
     <!-- Font Awesome -->
     <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
     <!-- NProgress -->
     <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
     <!-- iCheck -->
     <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
     <!-- bootstrap-wysiwyg -->
     <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
     <!-- Select2 -->
     <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
     <!-- Switchery -->
     <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
     <!-- starrr -->
     <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
     <!-- bootstrap-daterangepicker -->
     <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
 
     <!-- Custom Theme Style -->
     <link href="assets/build/css/custom.min.css" rel="stylesheet">
     <style>
         .alert {
             padding: 20px;
             background-color: #f44336;
             color: white;
             opacity: 1;
             transition: opacity 0.6s;
             margin-bottom: 15px;
         }
 
         .alert.success {
             background-color: #4CAF50;
         }
 
         .alert.info {
             background-color: #2196F3;
         }
 
         .alert.warning {
             background-color: #ff9800;
         }
 
         .closebtn {
             margin-left: 15px;
             color: white;
             font-weight: bold;
             float: right;
             font-size: 22px;
             line-height: 20px;
             cursor: pointer;
             transition: 0.3s;
         }
 
         .closebtn:hover {
             color: black;
         }
 
     </style>

</head> 

<body>

    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12"> 
            <div class="x_panel" style="background-color: #543846; border-color: #543846 border-radius: 8px;"> 
                <div class="x_content">
                    <form id="form"  data-parsley-validate class="form-horizontal form-label-left"  >
                        <h1 style="color: white;">Registration Form (Barangay Officials and Staff)</h1>
            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend ">
                                    <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name:
                                    <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input required type="text" id="fname" name="first-name" class="form-control" placeholder="First Name">
                                    </div>
                                    
                                </div>
                            </div> 
            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend ">
                                    <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name:
                                    <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input required type="text" id="lname" name="last-name" class="form-control" placeholder="Last Name">
                                    </div>
                                    
                                </div>
                            </div>
            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="contact">Contact Number:                                       
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input required type="text" id="contact" name="contact"  class="form-control" placeholder="Contact #">
                                    </div>
                                </div>
                            </div>
            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="position">Position:
                                    <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        
                                        <select class="form-control" name="position" id="position" aria-placeholder="Pick a Position">
                                            <option value="-1">Pick a Position</option>
                                            <option value="Punong Barangay">Punong Barangay</option>
                                            <option value="Sangguniang Barangay">Sangguniang Barangay</option>
                                            <option value="Sangguniang Kabataan Chairman">Sangguniang Kabataan Chairman</option>
                                            <option value="Barangay Secretary">Barangay Secretary</option>
                                            <option value="Barangay Treasurer">Barangay Treasurer</option>
                                            
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="email">Email:
                                    <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input required type="text" id="email" name="email" class="form-control" placeholder="Email">
                                    </div>
                                    
                                </div>
                            </div>
            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label style="color: #dddddd;" class=" control-label col-md-3 col-sm-3 col-xs-12" for="password">Password:
                                    <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input required type="text" id="password" name="password" class="form-control" placeholder="Password">
                                    </div>
                                    
                                </div>
                            </div> 
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="ol-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                        <button type="submit" onclick="signUp()" class="btn btn-rimary" style="background-color: #2196F3; color: white;">Sign Up</button> 
                                        <button onclick="goBack()"  class="btn btn-rimary" style="background-color: #2196F3; color: white;">Go Back</button>

                                    </div>
                                </div>
                                
                            </div>
                            
                            
                    </form>
                </div>
                
            </div>
    </div>
    
        

        
    </div> 

    
    <script>
        function goBack() {
        window.history.back();
        }
        </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script> 
    <!-- F I R E B A S E   C O N N E C T I O N -->  
    
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script> 
    <script src="script.js"></script>
</body>

</html>
